trace {
        enabled = true
        file = 'trace.txt'
}

timeline {
        enabled = true
        file = 'timeline.html'
}

dag {
	enabled= true
	file = 'dag.dot'
}

report {
       enabled = true
       file = 'report.html'
}

singularity {
            enabled = true
            autoMounts = true
}

process{
	executor='local'
        cache=true

	withName: 'getOrthoDBIds' {
                container='docker://evolbioinfo/jq:v1.6'
        }

	withName: 'downloadSequences' {
                container='docker://evolbioinfo/goalign:v0.3.2'
        }

	withName: 'renameSequences' {
                container='docker://evolbioinfo/goalign:v0.3.2'
        }

	withName: 'cleanSequences' {
                container='docker://evolbioinfo/goalign:v0.3.2'
        }

	withName: 'alignSequences' {
		container='docker://evolbioinfo/mafft:v7.313'
        }

	withName: 'reformatAlignment' {
                container='docker://evolbioinfo/goalign:v0.3.2'
        }
	
	withName: 'concatSequences' {
                container='docker://evolbioinfo/goalign:v0.3.2'
        }

	withName: 'cleanAlign' {
                container='docker://evolbioinfo/bmge:v1.12'
        }

	withName: 'rerootTree' {
                container='docker://evolbioinfo/gotree:v0.4.0a'
        }

	withName: 'rerootNCBITax' {
                container='docker://evolbioinfo/gotree:v0.4.0a'
        }

	withName: 'pruneNCBITax' {
                container='docker://evolbioinfo/gotree:v0.4.0a'
        }

	withName: 'annotateTree' {
                container='docker://evolbioinfo/gotree:v0.4.0a'
        }

	withName: 'compareTrees' {
                container='docker://evolbioinfo/gotree:v0.4.0a'
        }

	withName: 'inferTrueTree' {
		cpus=10
		container='docker://evolbioinfo/iqtree:v1.6.8'
        }

	withName: 'downloadNewickTaxonomy' {
                container='docker://evolbioinfo/gotree:v0.4.0a'
        }

	withName: 'uploadTree' {
                container='docker://evolbioinfo/gotree:v0.4.0a'
        }
}
